body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

/***** GRID *****/
.full-width {
            margin: 0 auto;
            width: 1200px;
            }

h1, h2, h3, h4 {
              	color: black;
              	text-transform: uppercase;
              	font-weight: 700;
               }

h1 {font-size: 30px;}
h3 {text-align: left;}
h4 {font-size: 12px;}

header {
	 		 border-bottom: 3px solid #77a466;
			 height: 110px;
	 		 margin: 0 auto;

	 		 }

header h1 {
			 	  float: left;
			   	margin: 0;
			   	padding: 38px 0;
			    }

header span {
  				  color: #77a466;
	  				}

header nav {
					 float: right;
					 padding: 46px 0;
           }

header nav ul {
					 	  margin: 0;
					 	  padding: 0;
					    }

header nav ul li {
								 display: inline;
								 font-size: 14px;
								 font-weight: 700;
								 padding: 0 10px;
								 text-transform: uppercase;
							   }

header nav ul li a  {
								  	color: #77a466;
										text-decoration: none;
								    }

.menu  {

				 float: left;
				 height: auto;
				 width: auto;
				 }

#breakfast-section  {
				 						border-right: 2px dotted #77a466;
										padding-left: 20px;
										padding-right: 20px;
										}

#lunch-section {
							 border-right: 2px dotted #77a466;
               padding-left: 20px;
							 padding-right: 20px;
							 }

#dinner-section {
								padding-left: 20px;
							}

ul {
		list-style: none;
		padding: 0;
		}

li {
		 color:#77a466;
		 padding: 5px 0;
		 text-align: left;
		 }

li span {
					color: black;
				}

img {height: 250px;
     width: 350px;
	   border: 3px solid #77a466;}


footer{
	     border-top: 1px solid #dedbdc;
		   clear: both;
			 height: 50px;
			 margin: 0 auto;
  		 text-align: center;
	   	 }

footer span {
						color: #77a466;
						font-family: 'Galada';
						font-size: 14px;
						text-transform: lowercase;
      	  	}
